{% extends 'layout.html' %}
{% block body %}
<style media="screen">
    body {
        padding-top: 3.5rem;
    }

    .row {
        margin-left: 20%;
    }
</style>
<div class="jumbotron">
        <h1 class="display-3">Jumbotron heading</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
      </div>
{% endblock %}
